body {
    text-align: center;
    background-color: rgb(75, 92, 179);
}
h1 {
    font-size: 41px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 8px;
}
.container {
    background-color: rgb(102, 207, 172);
    border: 5px solid rgb(102, 207, 172);
    width: 400px;
    margin: auto;
    height: 300px;
    border-radius: 20px;
}

.search-container {
    font-size: 24px;
}
.search-container input {
    width: 220px;
    height: 30px;
    border-color: white;
}
.search-container button {
    width: 100px;
    height: 37px;
    background-color: plum;
    border-color: plum;
    border-radius: 6px;
    color: white;
    font-size: 15px;
}
.search-container button:active {
    background-color: rgb(212, 114, 212);
}

.result-container {
    width: 388px;
    height: 710px;
    background-color: rgb(102, 207, 172);
    padding: 10px;
    margin-top: 20px ;
    margin-left: -4px;
    border-radius: 10px;
}
.result-container .result-display {
    background-color: rgb(119, 210, 180);
    width: 360px;
    height: 260px;
    margin: 0 16px;
}
.result-container .result-table {
    background-color: rgb(171, 59, 199);
    width: 360px;
    height: 400px;
    margin: 35px 15px 0px;
}
.result-container .result-table .header {
    background-color: rgb(212, 118, 221);
    border: none;
}
.result-container .result-table th {
    color: white;
    font-size: 17px;
    border: 2px solid rgb(212, 118, 221);
}